extends layout

block content
  div.home-page
    img.img(src='/images/zoo_12.jpg')
    h1 Администратор #{user.lastname} #{user.firstname}
    p Пришел клиент и просит подобрать ему тур?
    p Тогда жми
      a(href='/offlinereservation')= ' сюда :)'
