extends layout

block content
  h1 Страница администратора #{user.username}
  p Что можно сделать?
    ul
      li Оформить заявление на бронь у кллиента, который пришел в Вам лично
      li Составить докуметны (оформление тура) из заявлений на бронь
      li Просмотреть анализы продаж