extends layout

block content
  div.home-page
    img.img(src='/images/plyazhnyj-otdyh1.jpg')
    h1 Добро пожаловать!
    p Хочется отдохнуть, да?)
    p Выбирай
      a(href='/search')= ' "Поиск тура" '
      span и бронируй быстрее