extends layout

block content
  -var i = 0

  section.reservation.admin-res
    h1 Поступившие заявления на бронирование:
    h3 * Перед оформлением необходимо связаться с клиентом.
    form(action='/executeReservation' method='POST')
      include parts/table
      button#reservation-page-btn(type='submit') Оформить выбранные
