extends layout

block content
  include parts/docInfo
  section.reservation
    h1 Заполните форму:
    h3 * обязятельное поле
    form#reservation-form(action='/sendReservation' method='POST')
      label.fullname
        span ФИО*:
        input(type='text', name='fullname', placeholder='Иванова Любовь Васильевна', required)
      label.email
        span E-mail*:
        input(type='email', name='email', placeholder='lubov15911@gmail.com',  required)
      label.phone
        span Контактный телефон*:
        input(type='text', name='phone', placeholder='29-306-33-73', required)
      label.tickets
        span Количество заказываемых билетов*:
        input(type='number', name='tickets', min='1', value='1', required)
      input.invisible(type='number', name='tour_id', value='#{message}', required)
      button#reservation-btn(type='submit') Забронировать
    if answer
      div#done-popup.popup
        if user
          p #{user.username}Заявление оформлено
        else
          p Наши операторы свяжутся с Вами в ближайшее время. Спасибо за выбор нашего агенства!
        button.btn-close &#x274C;
