body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('../images/body.jpg');
}

a {
  color: #104E67;
  text-decoration: none;
}

.clear-fix {
  clear: both;
  height: 0;
}

.wrapper {
  width: 1000px;
  margin: 300px auto 20px auto;
  box-shadow: 0 0 10px 1px #9c726b;
  min-height: calc(100% - 30px);
  border-radius: 10px;
}

.container {
  padding-bottom: 70px;
}

.header {
  height: 75px;
  position: relative;
}

  .nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f9efff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

    .list-style {
      list-style: none;
      font-size: 0;
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      height: 75px;
    }

      .list-style li {
        font-size: 20px;
        width: calc(100% / 4);
        text-align: center;
      }

      .list-style li:hover {
        background: linear-gradient(to top, #f0e5ee, rgba(0, 0, 0, 0) );
      }

      .list-style li a {
        padding: 0 50px;
        height: 75px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

.footer {
  height: 70px;
  margin-top: -70px;
  background-color: #f9efff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
}

  .btn-signin {
    height: inherit;
    width: 100%;
    font-size: 18px;
    border: none;
    background: none;
    color: #104E67;
    text-align: center;
    line-height: 70px;
  }

  .btn-signin:hover {
    background: linear-gradient(to bottom, #f0e5ee, rgba(0, 0, 0, 0) );
  }

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 250px;
  background-color: #f9efff;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px #9c726b;
  display: none;
}

#done-popup {
  display: block;
}

  .popup form,
  #filter-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: inherit;
  }

  .popup form label,
    #filter-form label,
    #reservation-form label {
      display: flex;
      justify-content: center;
      line-height: 30px;
    }

      label input {
        width: 180px;
        box-sizing: border-box;
        padding-left: 10px;
      }

      label span,
      #filter-form > span,
      #reservation-form > p {
        font-size: 16px;
        padding-right: 10px;
      }

    /*.btn-input {*/
      /*background-color: #b8c4ff;*/
      /*margin: 0 auto;*/
    /*}*/

    /*.btn-input:hover {*/
      /*background: linear-gradient(to top, #f0b7a1, rgba(0, 0, 0, 0) );*/
    /*}*/

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px;
    border: none;
    background: none;
    color: #9c726b;
    width: 10px;
  }

  .btn-close:hover {
    font-size: 24px;
    background: none;
  }

.heigth {
  background-color: #f0e5ee;
  min-height: 315px;
}

.filter,
.doc-info {
  float: right;
  width: 350px;
  min-height: 315px;
  box-sizing: border-box;
  padding: 15px 30px;
}

.search,
.result-searching,
.reservation {
  width: calc(100% - 350px);
  box-sizing: border-box;
  padding: 15px 30px;
}

  .filter h1,
  .search h1,
  .reservation h1 {
    font-size: 20px;
    padding-bottom: 5px;
  }

    #search-form input {
      height: 40px;
      font-size: 16px;
      width: calc(100% - 100px);
    }

    .filter h3,
    .reservation h3 {
      padding-bottom: 15px;
    }

    #filter-form label {
      margin-bottom: 10px;
    }

    #reservation-form label {
      margin-bottom: 20px;
    }

      #filter-form input,
      #search-form input,
      #reservation-form input {
        background: linear-gradient(to top, white, rgba(0, 0, 0, 0) );
        border: none;
        border-left: 2px solid white;
        border-right: 2px solid white;
        line-height: inherit;
      }

        #filter-form .country input,
        #reservation-form .fullname input,
        #reservation-form .phone input {
          width: 100%;
        }

        #reservation-form .email input {
          width: 88%;
        }

        #reservation-form .phone input {
          width: 70%;
        }

        #reservation-form .tickets input {
          width: 51%;
        }

        #filter-form .stars input {
          width: 90px;
        }

      #filter-form .cold_table {
        justify-content: flex-start;
      }

        #filter-form .cold_table input {
          width: 20px;
          height: 20px;
        }

      #filter-form .USD,
      #filter-form .EUR,
      #filter-form .RUB {
        justify-content: flex-end;
      }

        #filter-form .USD input,
        #filter-form .EUR input,
        #filter-form .RUB input {
          width: 150px;
        }

    button {
      background: linear-gradient(to top, white, rgba(0, 0, 0, 0) );
      border: 2px solid white;
      line-height: inherit;
      height: 50px;
      min-width: 100px;
      font-size: 18px;
      color: #104E67;
      width: 100%;
    }

    #search-btn {
      height: 40px;
      width: inherit;
    }

    button:hover {
      background: white;
    }

  .result-searching ul li {
    max-height: 250px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
  }

    .result-searching ul li .small-img {
      float: left;
      width: 150px;
      height: 100px;
      background: blue;
    }

      .info {
        width: calc(100% - 290px);
      }

        .info h1 {
          font-size: 18px;
          padding-bottom: 5px;
          font-weight: bold;
        }

          .info ul {
            margin-top: 5px;
          }

            .info li.price {
              padding: 0;
              padding-left: 85px;
            }

      .btn {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      #more-info-btn {
        float: right;
      }

    .invisible {
      display: none;
    }

  #reservation-form {
    width: 100%;
  }
  #reservation-btn {
    width: inherit;
  }

.tour-info {
  padding: 25px;
}

  .img {
    float: right;
    width: 500px;
    box-sizing: border-box;
    border: 10px solid white;
    margin-left: 15px;
  }

  .tour-info h1 {
    text-align: center;
    font-size: 20px;
  }

    .tour-info h1 span {
      color: #ff6000;
    }

  .tour-info h3,
  .tour-info .cost,
  .transp,
  .tour-info ul .price {
    color: #0f0f9c;
    position: relative;
    padding: 10px 30px;
  }

  .tour-info h3:before,
  .tour-info .transp:before,
  .tour-info .cost:before,
  .descr p:before,
  .tour-info .price:before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
  }

  .tour-info .price:before {
    width: 24px;
    height: 24px;
    left: 55px;
    top: 2px;
  }

  .tour-info .transp:before {
    background: url('../images/Taxi.png');
  }

  .tour-info h3.tag:before {
    background: url('../images/Yellow_bookmark.png');
  }

  .tour-info h3.pin:before {
    background: url('../images/Red_pin.png');
  }

  .descr p:before {
    background: url('../images/Bee.png');
  }

  .tour-info .cost:before {
    background: url('../images/Message.png');
  }

  .descr {
    padding: 10px;
  }

    .descr p {
      text-indent: 1.5em;
      text-align: justify;
      position: relative;
    }

  .tour-info ul {
    margin-bottom: 15px;
  }

    .tour-info ul .price {
      padding: 5px 95px;
    }

    .tour-info .price:nth-child(2):before {
      background: url('../images/usd.png');
    }

    .tour-info .price:nth-child(3):before {
      background: url('../images/eur.png');
    }

    .tour-info .price:nth-child(4):before {
      background: url('../images/rub.png');
    }
