footer.footer
  if user
    button#signUn.btn-signin Регистрация
    a(href='/signout')#logOut.btn-signin Выйти
  else
    button#signIn.btn-signin Войти
  div#login-popup.popup
    form#check-user-form(action='/login' method='POST')
      label.login
        span Логин:
        input(type='text', name='username', placeholder='lubov15911', required, autofocus)
      label.password
        span Пароль:
        input(type='password', name='password', required)
      button#check-user-btn.btn-input.btn-signin(type='submit') Войти
    button.btn-close &#x274C;
  div#sighup-popup.popup
    form#sighup-user-form(action='/signup' method='POST')
      label.login
        span Логин:
        input(type='text', name='username', placeholder='lubov15911', required, autofocus)
      label.password
        span Пароль:
        input(type='password', name='password', required)
      button#sighup-user-btn.btn-input.btn-signin(type='submit') Регистрация
    button.btn-close &#x274C;