footer.footer
  if user
    button#signUn.btn-signin Регистрация
    a(href='/signout')#logOut.btn-signin Выйти
  else
    button#signIn.btn-signin Войти
  div#login-popup.popup
    form#check-user-form(action='/login' method='POST')
      label.login
        span Логин:
        input(type='text', name='username', placeholder='lubov15911', required, autofocus)
      label.password
        span Пароль:
        input(type='password', name='password', required)
      button#check-user-btn(type='submit') Войти
    button.btn-close &#x274C;
  div#sighup-popup.popup
    form#sighup-user-form(action='/signup' method='POST')
      label.login
        span Логин:
        input(type='text', name='username', placeholder='lubov15911', required, autofocus)
      label.password
        span Пароль:
        input(type='password', name='password', required)
      label.firstName
        span Имя:
        input(type='text', name='firstName', placeholder='First Name', required)
      label.lastName
        span Фамилия:
        input(type='text', name='lastName', placeholder='Last Name', required)
      button#sighup-user-btn(type='submit') Регистрация
    button.btn-close &#x274C;