header.header
  nav.nav
    ul.list-style
      li
        a(href='/')
          span Главная
      li
        a(href='/search') Поиск тура
      li
        a(href='/reservation') Бронирование тура
      li
        a(href='/news') Новости