header.header
  nav.nav
    ul.list-style
      if user
        li
          a(href='/home') Главная
        li
          a(href='/offlinereservation') Оформить заявление на бронь
        li
          a(href='/createdocs') Оформить документы
        li
          a(href='/statistics') Составить анализ продаж
      else
        li
          a(href='/') Главная
        li
          a(href='/search') Поиск тура
        li
          a(href='/reservation') Бронирование тура
        li
          a(href='/news') Новости
