section.search

  form#search-form(action='/search' method='POST')
    label
      h1 Поиск:
      input(type='text', name='search', placeholder='search', required, autofocus)
    button#search-btn(type='submit') Поиск
